<section id='intro' class='intro'>
  <div class='intro__text'>
    <h1>I’m Het Kevadiya
    </h1>
    <p>Student in Georgian college. <br /> I'm a <span>Web Developer</span>.</p>
  </div>
  <div class='intro__img'>
    <img src='/images/profile.jpg' class='intro__img' alt='Het Kevadiya' />
  </div>
</section>