<section id='projects'>
  <div class='container'>
    <h1>Projects</h1>
  </div>
  <div class='container projects'>
    <div class='project'>
      <img
        src='https://codeastro.com/wp-content/uploads/2022/05/CodeAstro-Thumbnail_Online-Food-Ordering-System-PHP-MySQL.jpg'
        alt=''
      />
      <h2>Food Delivery App</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem esse
        dolore assumenda aspernatur.</p>
    </div>
    <div class='project'>
      <img
        src='https://clockwise.software/img/blog/how-to-build-a-social-network-website/header-background.webp'
        alt=''
      />
      <h2>Social Media App</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem esse
        dolore assumenda aspernatur.</p>
    </div>
    <div class='project'>
      <img
        src='https://camo.githubusercontent.com/1b92d8aff37f0b3c9863ebbed9b4b7f3dd05ec69af57b77e27071d4217d8919c/68747470733a2f2f6465762d746f2d75706c6f6164732e73332e616d617a6f6e6177732e636f6d2f75706c6f6164732f61727469636c65732f6e617870613034353361366268643639636931632e706e67'
        alt=''
      />
      <h2>Blogging App</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem esse
        dolore assumenda aspernatur.</p>
    </div>
  </div>
</section>