<section id='skills'>
  <div class='container'>
    <h1>Skills</h1>
  </div>
  <div class='container skills'>
    <article><img src='/images/icons/html.svg' alt='' /></article>
    <article><img src='/images/icons/css.svg' alt='' /></article>
    <article><img src='/images/icons/js.svg' alt='' /></article>
  </div>
</section>